.wy-side-nav-search {
    /* background-color: #6a9dbe; */
    /* background-color: #56abe2; */
}

img.logo {
    padding-left: 60px;
    padding-right: 60px;
}

a.icon {
    /* font-size: 120%; */
}

.rst-content figure.align-center {
    margin-bottom: 24px;
}

.output-image {
    margin-top: -25px !important;
    margin-bottom: 24px !important;
    padding-top: 24px;
    border: 1px solid #e1e4e5;
}

.output-text {
    margin-top: -25px !important;
    margin-bottom: 24px !important;
    padding-left: 12px;
    padding-right: 12px;
    border: 1px solid #e1e4e5;
    font-family: monospace;
    font-size: 12px;
    font-style: italic;
    line-height: 1.4;
    color: #888;
}
